$mainColor:#1890ff;

$menuTextColor: #333;
$menuTextActiveColor:#fff;
$logoTitleText:#333;

// text
$primaryText:#303133;
$regularText:#606266;
$secondaryText:#909399;
$placeholderText:#C0C4CC;
//background
$darkBg:#001529;
$grayBg:#f0f2f5;
$grayBgLight:lighten($grayBg,3%);
