@import "color";
.App {
  user-select: none;
  .app-sider {
    box-shadow: 5px 0 20px rgba(200,200,200,0.3);
    .collapsed-btn {
      position:fixed;
      bottom:20px;
      left:22px;
      z-index:999;
      opacity: .3;
      transition: opacity .5s;
    }
    .collapsed-btn:hover,.change-theme-btn:hover {
      opacity: 1;
    }
    .change-theme-btn {
      position:fixed;
      bottom:60px;
      left:22px;
      z-index:999;
      opacity: .3;
      transition: opacity .5s;
    }
  }
  .content-body {
    overflow-y:scroll;
    .site-layout-content {
      user-select:text;
      background:#fff;
      padding:20px;
      box-shadow: 0 5px 20px rgba(200,200,200,0.3);
    }
  }
  .app-footer {
    text-align:center;
    background:$grayBgLight;
    color:$secondaryText;
    padding:10px 50px;
    font-size:10px;
  }
}

