@import "color";
.head-menu {
  .head-menu-item {
    position:relative;
    display:inline-block;
    a {
      display:inline-block;
      background:none;
      padding-left:20px;
      padding-right:20px;
      color:$menuTextColor;
    }
    a.active {
      background:$mainColor;
      color:$menuTextActiveColor;
      .head-menu-item-close-active {
        opacity: .5;
      }
      .head-menu-item-close-active:hover {
        opacity: 1;
      }
    }
    .head-menu-item-close {
      $head-menu-item-close-size:14px;
      position: absolute;
      top:2px;
      right:2px;
      background:#fff;
      color:$mainColor;
      width:$head-menu-item-close-size;
      height:$head-menu-item-close-size;
      padding:2px;
      line-height:10px;
      font-size:10px;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .5s;
    }
    .head-menu-item-close:hover {
      opacity: 1;
    }
  }
}
