@import "color";
.head-menu-box {
  $userInfoBoxWidth:300px;
  position:relative;
  overflow: hidden;
  height: 64px;
  box-shadow: 0 5px 20px rgba(200,200,200,0.3);
  .head-menu {
    background:#fff;
    margin-right:$userInfoBoxWidth;
    .head-menu-item {
      position:relative;
      display:inline-block;
      a {
        display:inline-block;
        background:none;
        padding-left:20px;
        padding-right:20px;
        color:$secondaryText;
        transition: background .5s;
      }
      a:hover {
        background:$grayBgLight;
        transition: background .5s;
      }
      a.active {
        background:$grayBg;
        color:$primaryText;
        .head-menu-item-close-active {
          opacity: .5;
        }
        .head-menu-item-close-active:hover {
          opacity: 1;
        }
      }
      .head-menu-item-close {
        $head-menu-item-close-size:14px;
        position: absolute;
        top:2px;
        right:2px;
        background:#fff;
        color:$mainColor;
        width:$head-menu-item-close-size;
        height:$head-menu-item-close-size;
        padding:2px;
        line-height:10px;
        font-size:10px;
        border-radius: 50%;
        opacity: 0;
        transition: opacity .5s;
      }
      .head-menu-item-close:hover {
        opacity: 1;
      }
    }
  }
  .user-info-box {
    width:$userInfoBoxWidth;
    height:64px;
    overflow:hidden;
    background:#fff;
    position:absolute;
    top:0;
    right:0;
    padding-left:15px;
    padding-right:15px;
    text-align:right;
    .user-info-box-1 {
      margin-right:15px;
      display:inline-block;
    }
    .user-info-box-2 {
      display:inline-block;
      margin-right:20px;
      cursor: pointer;
    }
    .user-name {
      margin-left:10px;
      overflow:hidden;
      text-overflow:ellipsis;
    }
    .user-avatar {
      transform: translateY(-2px);
    }
  }
}
.user-info-menu-box {
  .item {
    padding:5px 15px;
    transition: background .5s;
  }
  .item:hover {
    background:$grayBgLight;
  }
}

