@import "color";
.login-card-box {
  width:100%;
  height:100%;
  border: 1px solid transparent;
  position: relative;
  padding:-1px;
  min-height:600px;
  .login-card {
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    width:360px;
    margin-top:12%;
    margin-left:auto;
    margin-right:auto;
      border-radius: 6px;
    .login-card-logo {
      text-align:center;
      margin-bottom:20px;
      .spin {
        animation:turn 5s linear infinite;
      }
      @keyframes turn{
        0%{-webkit-transform:rotate(0deg);}
        25%{-webkit-transform:rotate(90deg);}
        50%{-webkit-transform:rotate(180deg);}
        75%{-webkit-transform:rotate(270deg);}
        100%{-webkit-transform:rotate(360deg);}
      }
      .login-card-title {
        margin-top:10px;
        font-weight:bold;
      }
    }
  }
}
