@import "color";
.side-menu-dark {
  background:#001529;
  transition: background .5s;
  .logo {
    color:#fff!important;
    box-shadow: none!important;
  }
}
.side-menu {
  height:100%;
  .logo {
    height:63px;
    line-height:63px;
    font-size:22px;
    color:$logoTitleText;
    box-shadow: 0 5px 20px rgba(200,200,200,0.6);
    img.logoImg {
      width:55px;
      line-height:0;
      font-size:0;
      margin-top:-5px;
      transition: width .3s;
    }
    span {
      opacity: 1;
      transition: opacity 2s;
    }
  }
}
.side-menu-collapsed {
  .logo {
    img.logoImg {
      width:70px;
      margin-left:5px;
    }
    span {
      opacity: 0;
      transition: opacity 1s;
      display:inline-block;
      overflow:hidden;
      position:absolute;
      width:140px;
    }
  }
  .menu-item-title {
    display:none;
  }
}
