@import "color";

.side-menu {
  .logo {
    height:63px;
    line-height:63px;
    font-size:22px;
    color:$logoTitleText;
    box-shadow: 0 5px 20px rgba(200,200,200,0.6);
    img.logoImg {
      width:55px;
      line-height:0;
      font-size:0;
    }
  }
}
